apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
data:
  SPRING_PROFILES_ACTIVE: "docker"
  SERVER_PORT: "9090"
  DB_URL: "jdbc:mysql://database-2.ct62g6cmorvy.ap-south-1.rds.amazonaws.com:3306/arbeit"
